[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = jornada de dados
	email = chsbene65@gmail.com
	nome = 3Benevaldo
[core]
	editor = \"C:\\Users\\Benevaldo\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[credential]
	helper = manager
